<!DOCTYPE html>
<html>
  <head>
    <title>PackingUci</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <%= current_time %>
    <%= link_to "All lists", lists_path %>
    <%= link_to "New List", new_list_path %>
  </footer>
</html>
